@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@300&display=swap");
/*========= レイアウトのためのCSS ===============*/

body {
  font-family: "Lora", serif;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
  /* line-height: 2rem; */
}

span {
  margin-right: 0.5rem;
}

a {
  color: white;
}

.box {
  color: #fff;
  /* padding: 40px; */
  padding: 2rem;
  padding-left: 6rem;
  /* display: flex; */
  justify-content: left;
  align-items: left;
  text-align: left;
  font-size: 2.5rem;
  line-height: 4.5rem;
}
.small {
  font-size: 2rem;
  line-height: 3rem;
}
.right {
  margin-left: 1rem;
}
.center {
  text-align: center;
}

#box0 {
  padding-left: 2rem;
  /* padding: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background: rgb(1, 118, 134);
  color: #fff;
  /* text-align: center; */
}

#box1 h2 {
  color: rgb(255, 253, 153);
}

#box1 {
  background: rgb(4, 74, 91);
}
#box2 {
  background: rgb(3, 125, 166);
}

#box2 h3 {
  color: rgb(251, 242, 160);
}

#box3 {
  background: rgb(1, 118, 134);
}

#box3 h3 {
  color: rgb(239, 243, 139);

  /* color: rgb(255, 212, 144); */
}

#box4 {
  background: rgb(4, 74, 91);
}

#box4 h3 {
  color: rgb(255, 253, 153);
}

#box5 {
  background: rgb(3, 125, 166);
}

#box5 h2 {
  color: rgb(239, 243, 139);
}

#footer {
  background: rgb(3, 125, 166);
  color: #fff;
  padding: 40px;
  text-align: center;
}

#footer a {
  color: #fff;
}
/*========= ページネーションCSS ===============*/

.pagination {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
  z-index: 10;
  list-style: none;
}

.pagination a {
  display: block;
  height: 20px;
  margin-bottom: 5px;
  color: #fff;
  position: relative;
  padding: 4px;
}

.pagination a.active:after {
  box-shadow: inset 0 0 0 5px;
}

/*現在地表示のテキストの設定*/
.pagination a .hover-text {
  font-size: 2rem;
  position: absolute;
  right: 15px;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  padding-right: 15px;
}

.pagination a:hover .hover-text {
  opacity: 1;
}

.pagination a:after {
  -webkit-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  width: 10px;
  height: 10px;
  display: block;
  border: 1px solid;
  border-radius: 50%;
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  right: 3px;
  bottom: 0;
}

/*768px以下は現在地表示のテキストを非表示*/
@media screen and (max-width: 768px) {
  .pagination a .hover-text {
    display: none;
  }
}

/* 画面外にいる状態 */
.fadein {
  opacity: 0.1;
  transform: translate(20px, 50px);
  transition: all 900ms;
}

/* 画面内に入った状態 */
.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

/* button */

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.btn,
a.btn,
button.btn {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #ffffff;
  border-radius: 0.5rem;
}

a.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;

  background: rgba(255, 255, 255, 0);
}

a.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border: 3px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
}

a.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

a.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}

a.btn-border-shadow--color2 {
  border-radius: 100vh;
}

a.btn-border-shadow--color2:before {
  border-radius: 100vh;
  -webkit-box-shadow: 3px 3px 0 #fffffff8;
  box-shadow: 3px 3px 0 #ffffff00;
}
