@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap");
body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fafafa;
  color: #212121;
  padding: 32px 64px;
}

h1 {
  text-align: center;
}

footer {
  padding-top: 64px;
  text-align: center;
  color: rgba(33, 33, 33, 0.7);
}

section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.right {
  text-align: right;
  font-weight: bold;
}

a {
  overflow-wrap: break-word;
}
