body {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/41294/hero.jpg)
    no-repeat center center fixed;
  background-size: cover;
}
.search {
  width: 320px;
  height: 40px;
  margin: 10px auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid #fff;
  float: right;
  position: absolute;
  top: 20px;
  right: 60px;
}
.search input {
  width: 220px;
  padding: 10px 5px;
  float: left;
  color: #ccc;
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;
  padding-left: 1.5rem;
}
.search input:focus {
  outline: 0;
  background: transparent;
}
.search button {
  font-size: large;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  padding-top: 3px;
  cursor: pointer;
  height: 39px;
  width: 50px;
  color: #fff;
  background: #e1e1e1;
  border-left: 1px solid #fff;
  border-radius: 0 3px 3px 0;
}
.search button:hover {
  background: #fff;
  color: #444;
}
.search button:active {
  background: transparent;
  box-shadow: 0px 0px 12px 0px #fff;
}
.search button:focus {
  outline: 0;
}
